/*----- genius.font.css -----*/
:root {
    --gi-version: "1.0.0";
    --gi-release-date: "2026-02-23";
    --gi-modified-date: "2026-02-24";
    --gi-author: "Genius iQ";
    --gi-website: "https://soehtetpaing.github.io/portfolio/";
}
/*-----^-----*/

.fs-px-10 {
  font-size: 10px;
}

.fs-px-12 {
  font-size: 12px;
}

.fs-px-14 {
  font-size: 14px;
}

.fs-px-16 {
  font-size: 16px;
}

.fs-px-18 {
  font-size: 18px;
}

.fs-px-20 {
  font-size: 20px;
}

/*----- english font -----*/
@font-face {
  font-family: "Apple Chancery";
  src: url("../font/en/AppleChancery.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cambria";
  src: url("../font/en/Cambria.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/en/JetbrainsMono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../font/en/Lora.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monaco";
  src: url("../font/en/Monaco.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("../font/en/OldStandardTT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../font/en/Oswald.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-serif {
    font-family: serif;
}

.font-sans-serif {
    font-family: sans-serif;
}

.font-monaspace {
    font-family: monospace;
}

.font-apple-chancery {
    font-family: "Apple Chancery", cursive;
}

.font-cambria {
    font-family: "Cambria", serif;
}

.font-jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}

.font-lora {
    font-family: "Lora", serif;
}

.font-monaco {
    font-family: "Monaco", monospace;
}

.font-old-standard-tt {
    font-family: "Old Standard TT", serif;
}

.font-oswald {
    font-family: "Oswald", sans-serif;
}
/*-----^-----*/

/*----- korean font -----*/
@font-face {
  font-family: "BM Yeon Sung";
  src: url("../font/kr/BMYeonSung.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-bm-yeon-sung {
    font-family: "BM Yeon Sung", serif;
}
/*-----^-----*/

/*----- myanmar font -----*/
@font-face {
  font-family: "Burma Thin";
  src: url("../font/mm/BurmaThin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Burmese Hand Writing";
  src: url("../font/mm/BurmeseHandWriting.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cool jazz";
  src: url("../font/mm/Cooljazz.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Phetkon";
  src: url("../font/mm/Phetkon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pyidaungsu";
  src: url("../font/mm/Pyidaungsu.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yay Chan Zin";
  src: url("../font/mm/YayChanZin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Z01-Umoe002";
  src: url("../font/mm/Z01Umoe002.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-burma-thin {
    font-family: "Burma Thin", serif;
}

.font-burmese-hand-writing {
    font-family: "Burmese Hand Writing", cursive;
}

.font-cool-jazz {
    font-family: "Cool jazz", cursive;
}

.font-phetkon {
    font-family: "Phetkon", serif;
}

.font-pyidaungsu {
    font-family: "Pyidaungsu", serif;
}

.font-yay-chan-zin {
    font-family: "Yay Chan Zin", serif;
}

.font-umoe {
    font-family: "Z01-Umoe002", monospace;
}
/*-----^-----*/
