/*----- genius.subtle.pattern.css -----*/
:root {
    --gi-version: "1.0.0";
    --gi-release-date: "2026-02-25";
    --gi-modified-date: "2026-02-25";
    --gi-author: "Genius iQ";
    --gi-website: "https://soehtetpaing.github.io/portfolio/";
}
/*-----^-----*/

/* .subtle-1 {
    background-image: url('../subtle/subtle-1.png');
}

.subtle-2 {
    background-image: url('../subtle/subtle-2.png');
}

.subtle-3 {
    background-image: url('../subtle/subtle-3.png');
}

.subtle-4 {
    background-image: url('../subtle/subtle-4.png');
}

.subtle-5 {
    background-image: url('../subtle/subtle-5.png');
}

.subtle-6 {
    background-image: url('../subtle/subtle-6.png');
}

.subtle-7 {
    background-image: url('../subtle/subtle-7.png');
}

.subtle-8 {
    background-image: url('../subtle/subtle-8.png');
}

.subtle-9 {
    background-image: url('../subtle/subtle-9.png');
}

.subtle-10 {
    background-image: url('../subtle/subtle-10.png');
}

.subtle-11 {
    background-image: url('../subtle/subtle-11.png');
}

.subtle-12 {
    background-image: url('../subtle/subtle-12.png');
}

.subtle-13 {
    background-image: url('../subtle/subtle-13.png');
}

.subtle-14 {
    background-image: url('../subtle/subtle-14.png');
}

.subtle-15 {
    background-image: url('../subtle/subtle-15.png');
}

.subtle-16 {
    background-image: url('../subtle/subtle-16.png');
}

.subtle-17 {
    background-image: url('../subtle/subtle-17.png');
}

.subtle-18 {
    background-image: url('../subtle/subtle-18.png');
}

.subtle-19 {
    background-image: url('../subtle/subtle-19.png');
}

.subtle-20 {
    background-image: url('../subtle/subtle-20.png');
}

.subtle-21 {
    background-image: url('../subtle/subtle-21.png');
}

.subtle-22 {
    background-image: url('../subtle/subtle-22.png');
}

.subtle-23 {
    background-image: url('../subtle/subtle-23.png');
}

.subtle-24 {
    background-image: url('../subtle/subtle-24.png');
}

.subtle-25 {
    background-image: url('../subtle/subtle-25.png');
}

.subtle-26 {
    background-image: url('../subtle/subtle-26.png');
}

.subtle-27 {
    background-image: url('../subtle/subtle-27.png');
}

.subtle-28 {
    background-image: url('../subtle/subtle-28.png');
}

.subtle-29 {
    background-image: url('../subtle/subtle-29.png');
}

.subtle-30 {
    background-image: url('../subtle/subtle-30.png');
}

.subtle-31 {
    background-image: url('../subtle/subtle-31.png');
}

.subtle-32 {
    background-image: url('../subtle/subtle-32.png');
}

.subtle-33 {
    background-image: url('../subtle/subtle-33.png');
} */
