<div class="font-nav font-nav-sticky my-1 rounded">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-1">
            <div class="">
                <img src="image/font_book.png" alt="font-logo" width="23">
            </div>
            <div class="m-0" style="padding-top: 2px;">Genius Fonts</div>
        </div>
        <div class="">
            <div class="input-group">
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-10')">10px</button>
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-12')">12px</button>
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-14')">14px</button>
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-16')">16px</button>
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-18')">18px</button>
                <button class="form-control form-control-sm" (click)="updateFontSize('fs-px-20')">20px</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 fs-px-14">
    <p class="text-violet fs-px-16">
        Notice:
        <span class="text-deeppink">
            There are 3 types of font in the world!
        </span>
    </p>

    <div class="row px-2 text-dark">

        <div class="col-sm bg-silver text-center rounded mx-1 font-serif mb-2 py-3 toggle-font-size">
            <h6>serif</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-mediumseagreen text-center rounded mx-1 font-sans-serif mb-2 py-3 toggle-font-size">
            <h6>sans-serif</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-deepskyblue text-center rounded mx-1 font-monospace mb-2 py-3 toggle-font-size">
            <h6>monospace</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

    </div>

</div>

<div class="mt-2 fs-px-14">

    <p class="text-violet fs-px-16">
        Notice: When call font name,
        <span class="text-deeppink">
            if 1 words name, call directly
            <span class="text-mediumseagreen">
                (eg. Cambria)
            </span>
            & if name with space, call with ' ' or " "
            <span class="text-mediumseagreen">
                (eg. 'Apple Chancery')</span>!
        </span>
    </p>

    <div class="row text-light px-2 text-center">

        <div class="col-sm bg-primary mb-2 font-apple-chancery py-3 toggle-font-size">
            <h6>Apple Chancery</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-secondary mb-2 font-bm-yeon-sung py-3 toggle-font-size">
            <h6>BM Yeon Sung</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-success mb-2 font-burma-thin py-3 toggle-font-size">
            <h6>Burma Thin</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-info mb-2 font-burmese-hand-writing py-3 toggle-font-size">
            <h6>Burmese Hand Writing</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-warning mb-2 font-cambria py-3 toggle-font-size">
            <h6>Cambria</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-danger mb-2 font-cool-jazz py-3 toggle-font-size">
            <h6>Cool jazz</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

    </div>

    <div class="row text-light px-2 text-center">

        <div class="col-sm bg-dark mb-2 font-jetbrains-mono py-3 toggle-font-size">
            <h6>Jetbrains Mono</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-gray mb-2 font-lora py-3 toggle-font-size">
            <h6>Lora</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-slateblue mb-2 font-monaco py-3 toggle-font-size">
            <h6>Monaco</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-orange mb-2 font-old-standard-tt py-3 toggle-font-size">
            <h6>Old Standard TT</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-deeppink mb-2 font-oswald py-3 toggle-font-size">
            <h6>Oswald</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-tomato mb-2 font-phetkon py-3 toggle-font-size">
            <h6>Phetkon</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

    </div>

    <div class="row text-light px-2 text-center">

        <div class="col-sm bg-primary mb-2 font-pyiduangsu py-3 toggle-font-size">
            <h6>Pyidaungsu</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-secondary mb-2 font-yay-chan-zin py-3 toggle-font-size">
            <h6>Yay Chan Zin</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm bg-success mb-2 font-umoe py-3 toggle-font-size">
            <h6>Z01-Umoe002</h6>
            <hr>
            <p>
                Fonts that comply with the Unicode standard can be easily converted from one Unicode font to another.
            </p>
            <p>
                유니코드 표준을 준수하는 글꼴은 한 유니코드 글꼴에서 다른 유니코드 글꼴로 쉽게 변환할 수 있습니다.
            </p>
            <p>
                ယူနီကုတ်စံနှုန်းများကို လိုက်နာသော ဖောင့်များကို အသုံးပြုထားပါက ယူနီကုတ်ဖောင့်အမျိုးအစား တစ်ခုမှ
                အခြားတစ်ခုသို့အလွယ်တကူ ပြောင်းလဲနိုင်ပါသည်။
            </p>
        </div>

        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>

    </div>

</div>
