<div class="fs-px-15 p-2 px-md-0">
    <div class="mb-2">

        <span class="text-violet">
            Notice: The best extension for
        </span>
        <span class="text-deeppink">
            icon - ico, logo - svg & image - png!
        </span>

        <div class="row mb-2">

            <div class="col">
                <h6>.ico</h6>
                <img src="image/vs-bw.ico" alt="vs-ico" class="img-icon-size">
            </div>
            <div class="col">
                <h6>.png or .jpg</h6>
                <img src="image/pp.jpg" alt="profile-png" class="img-profile-size rounded-circle mb-2 border">
            </div>
            <div class="col">
                <h6>.svg</h6>
                <img src="image/vs-g.svg" alt="vs-svg">
            </div>

        </div>

        <div class="line-heaven bg-silver"></div>

    </div>

    <div class="mb-2">
        <div class="mb-2">
            <span class="text-violet">There are other plugin icons like </span>
            <span class="text-deeppink">fontawesome, google icon, etc...</span>
        </div>

        <div class="row mb-2">

            <div class="col-sm">
                <div class="mb-1">
                    <a class="d-flex align-items-center gap-2 text-decoration-none" href="https://fonts.google.com/icons?icon.size=24&icon.color=%23e3e3e3" target="_blank">
                        <span class="material-symbols-outlined" style="margin-top: 3px;">link</span>
                        <span class="fs-px-16">google icon</span>
                    </a>
                </div>

                <h6>Brands</h6>
                <div class="text-gray">
                    <span class="material-icons">android</span>&nbsp;
                    <span class="material-icons">bluetooth</span>&nbsp;
                    <span class="material-icons">cloud_circle</span>&nbsp;
                </div>

                <h6>Alerts</h6>
                <div class="text-silver">
                    <span class="material-icons">help</span>&nbsp;
                    <span class="material-icons">info</span>&nbsp;
                    <span class="material-icons">error</span>&nbsp;
                    <span class="material-icons">announcement</span>&nbsp;
                </div>

                <h6>Arrows</h6>
                <div class="text-gray">
                    <span class="material-icons">arrow_back</span>&nbsp;
                    <span class="material-icons">arrow_forward</span>&nbsp;
                    <span class="material-icons">arrow_drop_down</span>&nbsp;
                    <span class="material-icons">arrow_drop_up</span>&nbsp;
                    <span class="material-icons">history</span>&nbsp;
                </div>

                <h6>Media</h6>
                <div class="text-silver">
                    <span class="material-icons">skip_previous</span>&nbsp;
                    <span class="material-icons">stop_circle</span>&nbsp;
                    <span class="material-icons">skip_next</span>&nbsp;
                    <span class="material-icons">fast_rewind</span>&nbsp;
                    <span class="material-icons">fiber_manual_record</span>&nbsp;
                    <span class="material-icons">fast_forward</span>&nbsp;
                    <span class="material-icons">play_circle</span>&nbsp;
                    <span class="material-icons">pause_circle</span>&nbsp;
                    <span class="material-icons">replay</span>&nbsp;
                    <span class="material-icons">fiber_new</span>&nbsp;
                    <span class="material-icons">hd</span>&nbsp;
                    <span class="material-icons">high_quality</span>&nbsp;
                    <span class="material-icons">equalizer</span>&nbsp;
                    <span class="material-icons">volume_up</span>&nbsp;
                    <span class="material-icons">volume_off</span>&nbsp;
                    <span class="material-icons">mic</span>&nbsp;<span class="material-icons">mic_off</span>&nbsp;
                    <span class="material-icons">album</span>&nbsp;
                    <span class="material-icons">movie</span>&nbsp;
                    <span class="material-icons">image</span>&nbsp;
                    <span class="material-icons">videocam</span>&nbsp;
                    <span class="material-icons">camera_alt</span>&nbsp;
                </div>

                <h6>Social</h6>
                <div class="text-gray">
                    <span class="material-icons">phone</span>&nbsp;
                    <span class="material-icons">smartphone</span>&nbsp;
                    <span class="material-icons">watch</span>&nbsp;
                    <span class="material-icons">message</span>&nbsp;
                    <span class="material-icons">send</span>&nbsp;
                    <span class="material-icons">email</span>&nbsp;
                    <span class="material-icons">account_balance_wallet</span>&nbsp;
                    <span class="material-icons">credit_card</span>&nbsp;
                    <span class="material-icons">get_app</span>&nbsp;
                    <span class="material-icons">account_box</span>&nbsp;
                    <span class="material-icons">account_circle</span>&nbsp;
                    <span class="material-icons">person</span>&nbsp;
                    <span class="material-icons">people</span>&nbsp;
                    <span class="material-icons">school</span>&nbsp;
                    <span class="material-icons">language</span>&nbsp;
                    <span class="material-icons">public</span>&nbsp;
                    <span class="material-icons">location_on</span>&nbsp;
                    <span class="material-icons">location_off</span>&nbsp;
                    <span class="material-icons">person_pin</span>&nbsp;
                    <span class="material-icons">vpn_key</span>&nbsp;
                    <span class="material-icons">https</span>&nbsp;
                    <span class="material-icons">work</span>&nbsp;
                    <span class="material-icons">delete</span>&nbsp;
                    <span class="material-icons">delete_forever</span>&nbsp;
                </div>

                <h6>Building</h6>
                <div class="text-silver">
                    <span class="material-icons">home</span>&nbsp;
                    <span class="material-icons">account_balance</span>&nbsp;
                </div>

                <h6>Web</h6>
                <div class="text-gray">
                    <span class="material-icons">visibility</span>&nbsp;
                    <span class="material-icons">visibility_off</span>&nbsp;
                    <span class="material-icons">wb_sunny</span>&nbsp;
                    <span class="material-icons">brightness_2</span>&nbsp;
                    <span class="material-icons">power_settings_new</span>&nbsp;
                    <span class="material-icons">menu</span>&nbsp;
                    <span class="material-icons">toc</span>&nbsp;
                    <span class="material-icons">more_vert</span>&nbsp;
                    <span class="material-icons">more_horiz</span>&nbsp;
                    <span class="material-icons">refresh</span>&nbsp;
                    <span class="material-icons">copyright</span>&nbsp;
                    <span class="material-icons">alarm</span>&nbsp;
                    <span class="material-icons">aspect_ratio</span>&nbsp;
                    <span class="material-icons">assignment</span>&nbsp;
                    <span class="material-icons">attachment</span>&nbsp;
                    <span class="material-icons">folder</span>&nbsp;
                    <span class="material-icons">folder_open</span>&nbsp;
                    <span class="material-icons">autorenew</span>&nbsp;
                    <span class="material-icons">backup</span>&nbsp;
                    <span class="material-icons">check_circle</span>&nbsp;
                    <span class="material-icons">cancel</span>&nbsp;
                    <span class="material-icons">add_circle</span>&nbsp;
                    <span class="material-icons">remove_circle</span>&nbsp;
                    <span class="material-icons">block</span>&nbsp;
                    <span class="material-icons">g_translate</span>&nbsp;
                    <span class="material-icons">chrome_reader_mode</span>&nbsp;
                    <span class="material-icons">report</span>&nbsp;
                </div>

            </div>

            <div class="col-sm">
                <div class="mb-1">
                    <a class="d-flex align-items-center gap-2 text-decoration-none" href="https://fontawesome.com/search?ic=free-collection" target="_blank">
                        <span class="material-symbols-outlined" style="margin-top: 3px;">link</span>
                        <span class="fs-px-16">fontawesome</span>
                    </a>
                </div>

                <h6>Brands</h6>
                <div class="text-silver">
                    <i class="fab fa-amazon"></i>&nbsp;
                    <i class="fab fa-android"></i>&nbsp;
                    <i class="fab fa-apple"></i>&nbsp;
                    <i class="fab fa-bluetooth"></i>&nbsp;
                    <i class="fab fa-css3-alt"></i>&nbsp;
                    <i class="fab fa-chrome"></i>&nbsp;
                    <i class="fab fa-facebook"></i>&nbsp;
                    <i class="fab fa-facebook-messenger"></i>&nbsp;
                    <i class="fab fa-firefox"></i>&nbsp;
                    <i class="fab fa-github"></i>&nbsp;
                    <i class="fab fa-html5"></i>&nbsp;
                    <i class="fab fa-instagram"></i>&nbsp;
                    <i class="fab fa-js-square"></i>&nbsp;
                    <i class="fab fa-node-js"></i>&nbsp;
                    <i class="fab fa-microsoft"></i>&nbsp;
                    <i class="fab fa-php"></i>&nbsp;
                    <i class="fab fa-pinterest"></i>&nbsp;
                    <i class="fab fa-python"></i>&nbsp;
                    <i class="fab fa-sass"></i>&nbsp;
                    <i class="fab fa-sistrix"></i>&nbsp;
                    <i class="fab fa-telegram"></i>&nbsp;
                    <i class="fab fa-twitter-square"></i>&nbsp;
                    <i class="fab fa-viber"></i>&nbsp;
                    <i class="fab fa-windows"></i>&nbsp;
                    <i class="fab fa-youtube"></i>&nbsp;
                </div>

                <h6>Alerts</h6>
                <div class="text-gray">
                    <i class="fa fa-question-circle"></i>&nbsp;
                    <i class="fa fa-info-circle"></i>&nbsp;
                    <i class="fa fa-exclamation-circle"></i>&nbsp;
                </div>

                <h6>Arrows</h6>
                <div class="text-silver">
                    <i class="fa fa-arrow-alt-circle-up"></i>&nbsp;
                    <i class="fa fa-arrow-alt-circle-down"></i>&nbsp;
                    <i class="fa fa-arrow-alt-circle-left"></i>&nbsp;
                    <i class="fa fa-arrow-alt-circle-right"></i>&nbsp;
                    <i class="fa fa-chevron-circle-up"></i>&nbsp;
                    <i class="fa fa-chevron-circle-down"></i>&nbsp;
                    <i class="fa fa-chevron-circle-left"></i>&nbsp;
                    <i class="fa fa-chevron-circle-right"></i>&nbsp;
                    <i class="fa fa-history"></i>&nbsp;
                </div>

                <h6>Media</h6>
                <div class="text-gray">
                    <i class="fa fa-fast-backward"></i>&nbsp;
                    <i class="fa fa-play-circle"></i>&nbsp;
                    <i class="fa fa-fast-forward"></i>&nbsp;
                    <i class="fa fa-backward"></i>&nbsp;
                    <i class="fa fa-pause-circle"></i>&nbsp;
                    <i class="fa fa-forward"></i>&nbsp;
                    <i class="fa fa-stop-circle"></i>&nbsp;
                    <i class="fa fa-file-audio"></i>&nbsp;
                    <i class="fa fa-file-video"></i>&nbsp;
                    <i class="fa fa-file-image"></i>&nbsp;
                    <i class="fa fa-camera"></i>&nbsp;
                    <i class="fa fa-video"></i>&nbsp;
                    <i class="fa fa-book"></i>&nbsp;
                </div>

                <h6>Social</h6>
                <div class="text-silver">
                    <i class="fa fa-phone"></i>&nbsp;
                    <i class="fa fa-sms"></i>&nbsp;
                    <i class="fa fa-envelope"></i>&nbsp;
                    <i class="fa fa-bell"></i>&nbsp;
                    <i class="fa fa-share-alt-square"></i>&nbsp;
                    <i class="fa fa-thumbs-up"></i>&nbsp;
                    <i class="fa fa-thumbs-down"></i>&nbsp;
                    <i class="fa fa-address-book"></i>&nbsp;
                    <i class="fa fa-address-card"></i>&nbsp;
                    <i class="fa fa-globe"></i>&nbsp;
                    <i class="fa fa-globe-asia"></i>&nbsp;
                    <i class="fa fa-language"></i>&nbsp;
                    <i class="fa fa-toggle-off"></i>&nbsp;
                    <i class="fa fa-toggle-on"></i>&nbsp;
                    <i class="fa fa-trash"></i>&nbsp;
                </div>

                <h6>Vehicle</h6>
                <div class="text-gray">
                    <i class="fa fa-bus"></i>&nbsp;
                    <i class="fa fa-car"></i>&nbsp;
                    <i class="fa fa-motorcycle"></i>&nbsp;
                    <i class="fa fa-bicycle"></i>&nbsp;
                </div>

                <h6>Building</h6>
                <div class="text-silver">
                    <i class="fa fa-home"></i>&nbsp;
                    <i class="fa fa-university"></i>&nbsp;
                </div>

                <h6>Web</h6>
                <div class="text-gary">

                    <i class="fa fa-eye"></i>&nbsp;
                    <i class="fa fa-eye-slash"></i>&nbsp;
                    <i class="far fa-lightbulb"></i>&nbsp;
                    <i class="fa fa-moon"></i>&nbsp;
                    <i class="fa fa-power-off"></i>&nbsp;
                    <i class="fa fa-bars"></i>&nbsp;
                    <i class="fa fa-ellipsis-v"></i>&nbsp;
                    <i class="fa fa-ellipsis-h"></i>&nbsp;
                    <i class="fa fa-copyright"></i>&nbsp;
                    <i class="fa fa-at"></i>&nbsp;
                    <i class="fa fa-dice-d6
                    "></i>&nbsp;
                    <i class="fa fa-dice-one"></i>&nbsp;
                    <i class="fa fa-dice-two"></i>&nbsp;
                    <i class="fa fa-dice-three"></i>&nbsp;
                    <i class="fa fa-dice-four"></i>&nbsp;
                    <i class="fa fa-dice-five"></i>&nbsp;
                    <i class="fa fa-dice-six"></i>&nbsp;
                    <i class="fa fa-mars"></i>&nbsp;
                    <i class="fa fa-venus"></i>&nbsp;
                    <i class="fa fa-venus-mars"></i>&nbsp;

                </div>

            </div>

        </div>
    </div>
</div>