/* html, body { height: 99dvh; } */
body { margin: 0; padding: 0; }
.font-en { font-family: Lora, sans-serif; }

.font-nav {
    background-color: rgba(225, 225, 225, 0.5);
    padding: 3px;
}

.font-nav-sticky {
    position: sticky;
    top: 53px;
    z-index: 1010;
}

.dropdown-menu {
    z-index: 1055;
}

.card-title-light-mode { background-color: #fff; }
.card-title-dark-mode { background-color: #171717; }

.api-content {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    background: transparent;
}

.terminal-output {
    font-family: monospace;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    word-wrap: break-word;
    overflow-inline: auto;
}

.terminal-output-light-mode { background-color: #e2e1e2; }
.terminal-output-dark-mode { background-color: #171717; }

.sample-color {
    width: 150px;
    height: 25px;
}

@media (min-width: 768px) {
    .api-content {
        right: calc(1rem + 5.5%);
    }
}
