<div class="row mt-1">
  <div class="col-2">
    <app-sidebar class="sidebar-sticky"></app-sidebar>
  </div>

  <div class="position-relative col-10 ps-0 py-3">
    <router-outlet></router-outlet>

    
    <div class="">
      <div class="api-content">
        <button class="btn btn-danger rounded-circle p-2" data-bs-toggle="modal" data-bs-target="#apiUrlModal">API</button>
      </div>
    </div>
  </div>
</div>

<!-- #apiUrlModal -->
<div [attr.data-bs-theme]="darkModeService.darkModeSignal()" class="modal fade" id="apiUrlModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="staticBackdropLabel">Genius Utils REST API Setup</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="api-url" class="form-label"><span class="text-danger">*</span> API URL</label>
          <input type="text" class="form-control" id="apiUrl" [(ngModel)]="apiUrl" placeholder="https://utils-express.up.railway.app">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="saveApiUrl()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
